/* -----------------Modal de confirmacion -------------------- */
.cont-modal{
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #0000007c;
}
.contenido-modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  border-radius: 10px;
}

.contenido-modal h2{
  margin-top: 20px;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}
.botones-modal{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
  gap:20px
}

#aceptar-btn{
  width: 40%;
  height: 40px;
  background-color: var(--color-primario);
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  box-shadow: 2px 2px 5px #0000007a;
}

#cancelar-btn{
  width: 40%;
  height: 40px;
  border: solid var(--color-primario) 1px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 1.3rem;
  box-shadow: 2px 2px 5px #0000007a;
}
/* -----------------FINAL Modal de confirmacion -------------------- */