/* General */
* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', serif;
    box-sizing: border-box;
  }

  :root {
    --color-primario: #00D5E5;
    --color-secundario: #0071A6;
    --color-base-dias: #515151;
    --color-claro-dias: #F5F5F5;
  }
  
  /*------------------------iconos-------------------------------*/
  
  .material-symbols-outlined {
    padding-left: 10px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 25
  }

/*------------------------LOGO-------------------------------*/
  .logo {
    width: 200px;
  }
  .logo.top{
    position: absolute;
    left: 0;
    top: 0;
  }
  
  /* ---------------------- Barra de navegación ---------------------- */

.navbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
  }
  .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
  }
  
  .navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .navbar a:hover {
    color: var(--color-secundario);
  }
  /* editar perfil  */
  .hidden {
    display: none;
  }
  /* ---------------------- Perfil ---------------------- */

.cont-superior{
    display: flex;
    background-color: var(--color-primario);
    height: 280px;
  }

.perfil{
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

.foto-perfil{
    min-width: 130px;
    height: 130px;
    margin-top: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-claro-dias);
}
.foto-perfil img{
    width: 150px;
    height: 150px;
}

.perfil-info{
    display: flex;
    flex-direction: column;
    margin-top: 100px; 
    text-align: center;
}

.cont-informacion{
    padding-top: 20px;
    text-align: center;
}

.cont-informacion h2{
    font-size: 30px;
}

.datos{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    text-align: left;
    gap: 10px;
}

.datos p{
    font-size: 20px;
}

/* Personalizacion de los input y botones para editar  */

input{
  padding: 12px;
  font-size: 14px;
  border: 1px solid var(--color-primario);
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button{
  padding: 12px;
  background-color: var(--color-primario);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Dosis', serif;
  transition: background-color 0.3s ease, transform 0.2s ease;
}